@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

/*@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif; /* Style spécifique au body */
  /*margin: 0; /* Si vous souhaitez supprimer les marges du body */
 /* padding: 0; /* Si vous souhaitez supprimer le padding du body */
/*}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #cbdbff;
}
.form-container {
  width: 1000px;
}

.title,
.slogan {
  text-align: center;
}
.btn {
  width: 100%;
}
.auth-image{
  width: 100%;
  border-radius: 8px;
}
.alert{
  margin-bottom:1.5rem;
}
/*profile-card*/
/*.profile-card {
   width:500px;
}
.avatar{
  margin-bottom: 1.5rem;
}
.username{
  text-transform: capitalize;
}
.profile-btn{
  margin-top: 1.3rem;
  width: 100%;
}*/
